<section class="row ">
  <p>
    <b>ID:</b> {{userToEdit.id}}
    <b>Name:</b> {{userToEdit.name}}
    <b>Email:</b> {{userToEdit.email}}
    <b>Gender:</b> {{userToEdit.gender}}
    <b>Provider:</b> {{userToEdit.provider}}
    <br>
    <b>Quiz results:</b> {{userToEdit.quiz_results}}
  <p>
</section>
<section class="row">
  <div class="user-panel">
    <div class="chat-wrapper">
      <h3>Chat</h3>
      <div class="feed" ng-repeat="message in admin.listMessages()">
        <p ng-class=" {{(message.sender_id == message.user_id) ? text-right: ''}}"><b>{{message.sender_name}}:</b> {{message.text}}</p>
      </div>
      <div class="forum-container">
        <form ng-submit="sendMessage(messageText)">
          <input type="text" ng-model="messageText" placeholder="Type your message here" />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
    <div class="recommendation-wrapper">
      <h3>Recommendations</h3>
      <button ui-sref="admin.addRecommendation({userID: id})">
        Add Recommendation
      </button>
      <div class="feed" ng-repeat="recommendation in recommendations.list()">
        <p><a ui-sref="admin.viewRecommendation({userID: id, recommendationID: recommendation.id})">{{recommendation.product_id}} -- {{recommendation.title}} -- {{recommendation.description}}</a></p>
      </div>
    </div>
  </div>

</section>
