<div class="content">
  <section class="row">
    <div class="user-details">
      <b>ID:</b> {{userToEdit.id}}</br>
      <b>Name:</b> {{userToEdit.name}}</br>
      <b>Email:</b> {{userToEdit.email}}</br>
      <b>Provider:</b> {{userToEdit.provider}}
    </div>
    <div class="button-holder">
      <button ng-click="openC()">
        Open Chat
      </button>
    </div>
    <div class="button-holder">
      <button ng-click="openR()">
        List Recommendations
      </button>
    </div>
    <div class="button-holder">
      <button ui-sref="admin.editUser({userID: id})">
        Edit Details
      </button>
    </div>
    <div class="button-holder">
    <button ui-sref="admin.addRecommendation({userID: id})">
      Add Recommendation
    </button>
    </div>
  </section>
  <section class="row" ng-show="openChat">
    <div class="chat-container">
      <div class="feed" ng-repeat="message in admin.listMessages()">
        <p ng-class=" {{(message.sender_id == message.user_id) ? text-right: ''}}"><b>{{message.sender_name}}:</b> {{message.text}}</p>
      </div>
      <div class="forum-container">
        <form ng-submit="sendMessage(messageText)">
          <input type="text" ng-model="messageText" placeholder="Type your message here" />
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </section>
  <section class="row" ng-show="openRecommendations">
    <div class="chat-container">
      <div class="feed" ng-repeat="recommendation in recommendations.list()">
        <p>{{recommendation.product_id}} -- {{recommendation.title}} -- {{recommendation.description}}</p>
      </div>
    </div>
  </section>
</div>