<div class="content">
  <section class="row centered">
    <b>ID:</b> {{userToEdit.id}}</br>
    <b>Name:</b> {{userToEdit.name}}</br>
    <b>Email:</b> {{userToEdit.email}}</br>
    <b>Provider:</b> {{userToEdit.provider}}
  </section>
  <section class="row centered">
    <div class="" ng-repeat="message in admin.listMessages()">
      <b>{{message.sender_name}}:</b> {{message.text}}
    </div>
    <form ng-submit="sendMessage()">
        <input type="text" ng-model="messageText" placeholder="Type your message here" />
        <input type="submit" value="Send" />
    </form>
  </section>
  <section class="row">
    <button ui-sref="editUser(userToEdit)">
      Edit Details
    </button>
  </section>
</div>